# Data Filtering

In [1]:
import pandas as pd

df_member = pd.read_csv('data/members_v3.csv')
df_transaction = pd.read_csv('data/transactions.csv')
df_transaction2 = pd.read_csv('data/transactions_v2.csv')
df_logs = pd.read_csv('data/user_logs.csv')
df_logs2 = pd.read_csv('data/user_logs_v2.csv')

In [2]:
all_df_transaction = pd.concat([df_transaction, df_transaction2], axis=0)

In [3]:
print(f"members: {df_member.shape}")
print(f"transactions: {all_df_transaction.shape}")
print(f"logs: {df_logs.shape}")
print(f"logs2: {df_logs2.shape}")

members: (6769473, 6)
transactions: (22978755, 9)
logs: (392106543, 9)
logs2: (18396362, 9)

In [4]:
filtered_msno = all_df_transaction.groupby('msno')['is_cancel'].agg(set).reset_index()
filtered_msno = filtered_msno[filtered_msno['is_cancel'] == {0, 1}]
filtered_msno

                                                 msno is_cancel
6        ++/Gw1B9K+XOlB3hLTloeUK2QlCa2m+BJ8TrzGf7djI=    {0, 1}
7        ++/TR7WI15q2ZCtOXmoap7jR+kEhbMVE5swOqsfqpqI=    {0, 1}
10       ++/gTmVgKUbNFmsTiriZdWV1uZIrLXCUiEWN0fEU6BM=    {0, 1}
20       ++0KpReZV9DjNUlP6aQhK3MDLWaxbA6fvZKh4UaFc3w=    {0, 1}
23       ++0nOC7BmrUTtcSboRORfg6ZXTajnBDt1f/SEgH6ONo=    {0, 1}
...                                               ...       ...
2426134  zzz/5bh+8EOZTpIRKWiiaAwEH4uYwfDUaiahJlvABiQ=    {0, 1}
2426135  zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=    {0, 1}
2426136  zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=    {0, 1}
2426138  zzz9+ZF4+GMyt63oU8xfjo1EkvRqH5OINlES0RUJI6I=    {0, 1}
2426140  zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=    {0, 1}

[778155 rows x 2 columns]

In [5]:
filtered_df_member = df_member[df_member['msno'].isin(filtered_msno['msno'])].sample(n=300000, random_state=42)
filtered_df_member2 = df_member[~df_member['msno'].isin(filtered_msno['msno'])].sample(n=100000, random_state=42)
filtered_df_member_all = pd.concat([filtered_df_member, filtered_df_member2])
filtered_df_member_all

,msno,city,bd,gender,registered_via,registration_init_time
1372093,JdmXXzLgL8NqEDBKXXPRSN6+H72vtMgzO7WQYfv3e34=,15,0,NaN,9,20141231
4929144,wzQL52h6U5ujx8F+zztPyN4bAzEVp94oZDK22HuiSmM=,22,23,male,3,20150608
1989021,5trzY3e8yDybNyTfz/teRrsPBGNtcVn5EKZfgYicAYs=,1,0,NaN,7,20120425
6234107,CBCUZZBicQhRyjmGuYT+EnzamYaO6PWrd7tSUsZtGzk=,6,27,female,9,20150124
824510,lA0oHXFDBFn3mFA+1w8m4N/J8fBTiGqPHbhZj5OTP34=,1,0,NaN,7,20140625
...,...,...,...,...,...,...
3277998,78awLLRmNMqpEC3ey/6bMfP1OXLaHBfZ4ms3AiiQCZQ=,1,0,female,3,20150530
6396775,azPF5rd82ITb7eBTeKkg3VpA8GJzVnk6VKHauDMGoaQ=,1,0,NaN,9,20150928
5727609,aADRhKqUWBgZlEJ1zxxS24ZpmkaM6as5PXPhU/2BytM=,1,0,NaN,4,20160209
1629890,eZNfGSnM3dsQFPwXnvFuBCxSwd+wxdd74/z9YFPJc6w=,12,69,female,3,20141225
4708892,TcfLz9OaXTyT59mdu7CY4mS8HglABe96zhh6z5s1Vz8=,4,22,female,3,20150702

In [6]:
filtered_df_transaction = all_df_transaction[all_df_transaction['msno'].isin(filtered_df_member_all['msno'])].drop_duplicates()
filtered_df_transaction.shape

(4812931, 9)

In [7]:
filtered_df_logs = df_logs[df_logs['msno'].isin(filtered_df_member_all['msno'])]
filtered_df_logs2 = df_logs2[df_logs2['msno'].isin(filtered_df_member_all['msno'])]
all_df_logs = pd.concat([filtered_df_logs , filtered_df_logs2], axis=0).drop_duplicates()
all_df_logs.shape

(79102442, 9)

In [ ]:
filtered_df_transaction.to_csv('data/transactions_filtered.csv')
filtered_df_member_all.to_csv('data/members_filtered.csv')
all_df_logs.to_csv('data/user_logs_filtered.csv')